.container {
  border: 5px solid;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.square {
  width: 100px;
  height: 100px;
  border: 5px solid;
  box-sizing: border-box;
  display: flex;
  flex: 1;
}

.blue {
  border-color: blue;
}
.red {
  border-color: red;
}
.green {
  border-color: green;
}
.menu {
  padding: 30px;
  text-align: center;
}

.menu a {
  display: block;
}